body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
  align-items: center;
}

.header__title {
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

header a:focus,
header a:hover {
  color: black;
}

footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

footer a:focus,
footer a:hover {
  color: black;
}

.post__list,
.post__detail {
  min-height: 90vh;
  padding: 20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

.post__list a {
  text-decoration: none;
  color: black;
}
.post__navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 20px 0px 20px;
}

.post__navigation--active {
  color: black;
  font-weight: 600;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.post__list a {
  text-decoration: none;
  color: black;
}

.post__profile {
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.post__profile-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post__date,
.post__author-name {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0;
}

.post__text {
  color: gray;
  font-size: 16px;
}

.post__text,
.post__list {
  text-decoration: none;
  color: black;
}

.post__utils-box {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}

.post__delete:hover,
.post__delete:focus {
  cursor: pointer;
  color: black;
}

.post__edit a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.post__edit a:hover,
.post__edit a:focus {
  cursor: pointer;
  color: black;
}

.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding: 10px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
}

.post__detail .post__profile-box {
  padding: 10px 0;
}

.post__detail .post__box {
  padding: 10px 0px;
}

.post__detail .post__text {
  padding: 20px 0;
}

.post__detail .post__box1 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.profile__logout {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  cursor: pointer;
}

.profile__logout:hover,
.profile__logout:focus {
  color: black;
}

.profile__box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
}

.flex__box-lg {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile__image {
  width: 72px;
  height: 72px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.profile__name {
  font-size: 16px;
  margin-top: 4px;
}

.form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.form input {
  height: 20px;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
}

.form textarea {
  min-height: 400px;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
}

.form .form__block {
  margin-top: 20px;
  width: 100%;
}

.form label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form__btn--submit {
  width: 100%;
  height: 45px;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  background-color: #2563eb;
  color: white;
}

.form__btn--submit:focus,
.form__btn--submit:hover {
  background-color: #2250b3;
  border: 1px solid rgb(181, 181, 181);
}

.flex__box-lg {
  min-height: 70hv;
  margin-top: 10vh;
}

.form__title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4px;
}

.form__link {
  margin-left: 10px;
  text-decoration: none;
  color: gray;
}

.form__error {
  color: red;
}

.init {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid #2563eb;
  border-radius: 50%;
  z-index: 9999;
  animation: rotation 1s linear infinite;
}

.homepage__main-img {
  margin: 0 auto;
  width: 100%;
  height: 30vh;
  background-color: rgb(155, 155, 155);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
}
